//Solid Buttons
%btn {
    height: 40px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer
    }
}

.#{$brand}-btn- {

    &primary,
    &success,
    &danger {
        @extend %btn;
    }

    &primary {
        background: $primary;
    }

    &success {
        background: rgb(40, 192, 40);
    }

    &danger {
        background: rgb(231, 47, 56);
    }
}

// @mixin button ($name, $color){
//     &-#{$name}{
//         border: 1px solid $color;
//         color: $color;
//         &:hover{
//             background: $color;
//             color: #fff;
//         }
//     }
// }
@mixin button ($name, $color){
    &-#{$name}{
        border: 1px solid $color;
        color: $color;
        &:hover{
            background: mix($color: #fff, $color: $color, $weight: 0.5);
            color: #fff;
        }
    }
}


//Outline Buttons
.btn-outline{
    background: none;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: 0.5s all ease-in-out;
    @include button('primary', $primary);
    @include button('success', rgb(40, 192, 40));
    @include button('danger', rgb(231, 47, 56));
    // &-primary {
    //     border: 1px solid $primary;
    //     color: $primary;
    //     &:hover{
    //         background: $primary;
    //         color: #fff;
    //     }
    // }
    // &-success {
    //     border: 1px solid rgb(40, 192, 40);
    //     color: rgb(40, 192, 40);
    //     &:hover{
    //         background: rgb(40, 192, 40);
    //         color: #fff;
    //     }
    // }
    // &-danger {
    //     border: 1px solid rgb(231, 47, 56);
    //     color: rgb(231, 47, 56);
    //     &:hover{
    //         background: rgb(231, 47, 56);
    //         color: #fff;
    //     }
    // }
}

//Size
@mixin size($h, $w, $p, $m, $bg){
    height: $h;
    width: $w;
    padding: $p;
    margin: $m;
    background: $bg;
}

.im{
    &-container {
        @include size(200px, 200px, 1rem, 1rem, red);
        &-big{
            @include size(500px, 500px, 1rem, 1rem, blue);
        }
    }
}