//Anidacion
.#{$brand}-card {
    width: 250px;
    padding: 0;
    border: {
        radius: 5px;
        width: 1px;
        style: solid;
        color: $secondary;
    }
    img {
        width: 100%;
        height: 150px;
        display: block;
    }
    &_body{
        height: 50px;
        text-align: center;
        background-color: $primary;
        line-height: 50px;
        color: #fff;
        &-title{
            
        }
    }
    h1{
        height: 50px;
        line-height: 50px;
        margin: 0;
    }
}