.#{$brand}-title-primary{
    color: map-get($map: $palette, $key: 'primary');
    font-size: $font-size;
}

.#{$brand}-title-secondary{
    color: map-get($map: $palette, $key: 'secondary');
    font-size: $font-size;
}

.#{$brand}-title-dark{
    color: $dark_opacity;
    //Nesting
    font: {
        size: $font-size;
        weight: 20px;
        family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

}